.btn-accent {
  width: 100%;
  max-width: 530px;
  font-size: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  line-height: 1em;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75)!important;
  background-color: #00ffc5!important;
  cursor: pointer;
  border-radius: 4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  @media only screen and (min-width: 1000px) {
    margin: 30px auto 0;
  }
}